<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="not_simulation" default="false"/>  
  <group if="$(arg not_simulation)">
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <remap from="/usb_cam/image_raw" to="/image/raw"/>
      <param name="video_device" value="/dev/video1" />
      <param name="image_width" value="1280" />
      <param name="image_height" value="1080" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
  </group>

  <!-- Load Configuration -->
  <include file="$(find project_interface)/launch/load_params.launch"/>

  <!-- Rviz visualizer -->
  <include file="$(find project_interface)/launch/visualization.launch"/>

  <!-- Start pipeline -->
  <include file="$(find image_elab)/launch/node_image_pipeline.launch"/>

  <node name="localization" pkg="localization" type="localization_node" respawn="true" output="screen"/>

  <node name="odometry" pkg="localization" type="odometry_node" respawn="true" output="screen"/>
  
  <node name="planning" pkg="planning" type="planning_node" respawn="false" output="screen"/>

  <node name="control" pkg="control" type="control_node" respawn="false" output="screen"/>  
  
</launch>

