<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load Configuration -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project_interface)/rviz/config_file.rviz" />

  <node type="rqt_multiplot" name="rqt_multiplot" pkg="rqt_multiplot" args="--multiplot-config $(find project_interface)/rqt_multiplot/config_file.xml" />
</launch>

