[Desktop Entry]
Encoding=UTF-8
Name=Link to image_geometry: pinhole_camera_model.cpp Source File
Type=Link
URL=http://docs.ros.org/melodic/api/image_geometry/html/c++/pinhole__camera__model_8cpp_source.html#l00293
Icon=text-html
