[Desktop Entry]
Encoding=UTF-8
Name=Link to image_pipeline/image_proc at melodic · ros-perception/image_pipeline
Type=Link
URL=https://github.com/ros-perception/image_pipeline/tree/melodic/image_proc
Icon=text-html
