[Desktop Entry]
Encoding=UTF-8
Name=Link to osrf / gazebo / plugins / DiffDrivePlugin.cc — Bitbucket
Type=Link
URL=https://bitbucket.org/osrf/gazebo/src/afe08834571835008fa7419f1feba5b7f89b9d62/plugins/DiffDrivePlugin.cc?at=gazebo7&fileviewer=file-view-default
Icon=text-html
Name[en_US]=diff_drive_plugin_code
