<?xml version="1.0" ?>
<model>
    <name>mindstorm_map</name>
    <version>1.0</version>
    <sdf version="1.6">map.sdf</sdf>
    <author>
        <name>Valerio Magnago</name>
        <email>valerio.magnago@unitn.it</email>
    </author>
    <description>Mindstorm map to load in gazebo</description>
</model>
