<?xml version="1.0" ?>
<model>
    <name>arena_ground</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Valerio Magnago</name>
        <email>valerio.magnago@unitn.it</email>
    </author>
    <description>Ground of the mindstorm arena</description>
</model>
