config_folder: /home/valerio/workspace/LAR/data

default_implementation:  
  rectify: false
  extrinsic_calib: true
  unwarp: true
  obstacle_detector: true
  robot_detector: true
  planning: true
  
  # IMAGE LISTENER
  raw_clbk: true
  unwarped_ground_clbk: true
  unwarped_robot_clbk: true
  rectify_clbk: true
