config_folder: /tmp/AppliedRobotics/

default_implementation:
  grab_frame: true
  rectify: true
  extrinsic_calib: true
  unwarp: true
  obstacle_detector: true
  robot_detector: false
  planning: true
  
  # IMAGE LISTENER
  raw_clbk: true  
  unwarped_ground_clbk: true
  unwarped_robot_clbk: true
  rectify_clbk: true
