<?xml version="1.0" ?>
<model>
    <name>opencv_A4_chessboard</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Valerio Magnago</name>
        <email>valerio.magnago@unitn.it</email>
    </author>
    <description>Opencv chessboard used for calibration 9x6 squares on a A4 paper</description>
</model>
