<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load Configuration -->
  <include file="$(find student)/launch/load_params.launch"/>

  <!-- Start pipeline -->
  <include file="$(find image_elab)/launch/rectify.launch"/>

  <!--include file="$(find image_elab)/launch/extrinsic.launch"/-->

</launch>

